node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json

routeTree.gen.ts
worker-configuration.d.ts
src/lib/db/auth-schema.ts
src/lib/db/seed.ts
src/lib/db/dump.json